<tr class="BGBlueButtonBarr">
    <td>
        <div style="display:inline;float:left">
            <input type="button" title="Submit Request" value="Submit Request" id="submitPostRequestButton" disabled="disabled" style="display: none">
        </div>
        <div style="display:inline;float:left">
            <input type="button" title="Return to Vehicle Inbox" value="Return to Vehicle Inbox" id="returnToVehicleInboxButton">
        </div>
    </td>
</tr>
