/* 	Artfully masterminded by ZURB
	Make sure to include app.js / foundation.js if you are going to use inline label inputs
*/


/* -----------------------------------------
  Standard Forms
----------------------------------------- */

form { margin: 0 0 18px; }
form label { display: block; font-size: 13px; line-height: 18px; cursor: pointer; margin-bottom: 9px; }

input.input-text, textarea { border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; }
input.input-text, textarea, select { display: block; margin-bottom: 9px; }
label + input.input-text, label + textarea, label + select, label + div.dropdown, select + div.dropdown { margin-top: -9px; }

/* Text input and textarea font and padding */
input.input-text, textarea { font-size: 13px; padding: 4px 3px 2px; background: #fff; }
input.input-text:focus, textarea:focus { outline: none !important; }
input.input-text.oversize, textarea.oversize { font-size: 18px !important; padding: 4px 5px !important; }
input.input-text:focus, textarea:focus { background: #f9f9f9; }

/* Inlined Label Style */
input.placeholder, textarea.placeholder { color: #888; }

/* Text input and textarea sizes */
input.input-text, textarea { width: 254px; }
input.small, textarea.small { width: 134px; }
input.medium, textarea.medium { width: 254px; }
input.large, textarea.large { width: 434px; }

/* Fieldsets */
form fieldset { padding: 9px 9px 2px 9px; border: solid 1px #ddd; margin: 18px 0; }

/* Inlined Radio & Checkbox */
.form-field input[type=radio], div.form-field input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

/* Errors */
.form-field.error input, input.input-text.red { border-color: #C00000; background-color: rgba(255,0,0,0.15); }
.form-field.error label, label.red { color: #C00000; }
.form-field.error small, small.error { margin-top: -6px; display: block; margin-bottom: 9px; font-size: 11px; color: #C00000; width: 260px; }

.small + small.error { width: 140px; }
.medium + small.error { width: 260px; }
.large + small.error { width: 440px; }

/* -----------------------------------------
       Nicer Forms
    ----------------------------------------- */
form.nice div.form-field input, form.nice input.input-text, form.nice textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
form.nice div.form-field input:focus, form.nice input.input-text:focus, form.nice textarea:focus { background-color: #f9f9f9; }

form.nice fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

form.nice div.form-field input[type=radio], form.nice div.form-field input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

form.nice div.form-field.error small, form.nice small.error { padding: 6px 4px; border: solid 0 #C00000; border-width: 0 1px 1px 1px; margin-top: -10px; background: #C00000; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }

form.nice div.form-field.error .small + small, form.nice .small + small.error { width: 132px; }
form.nice div.form-field.error .medium + small, form.nice .medium + small.error { width: 252px; }
form.nice div.form-field.error .large + small, form.nice .large + small.error { width: 432px; }

/* -----------------------------------------
       Custom Forms
    ----------------------------------------- */

form.custom span.custom.radio { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
form.custom span.custom.radio.checked { background-position: 0 -14px; }
form.custom span.custom.checkbox.checked { background-position: 0 -28px; }

form.custom div.custom.dropdown { position: relative; display: inline-block; width: auto; height: 28px; margin-bottom: 9px; }
form.custom div.custom.dropdown a.current { display: block; width: auto; line-height: 26px; padding: 0 38px 0 6px; border: solid 1px #ddd; color: #141414; }
form.custom div.custom.dropdown:hover a.selector,
form.custom div.custom.dropdown.open a.selector { background-position: -14px -26px; }

form.custom div.custom.dropdown ul { position: absolute; width: auto; display: none; margin: 0; left: 0; top: 27px; margin: 0; padding: 0; background: rgba(255,255,255,0.9); border: solid 1px #ddd; z-index: 10; }
form.custom div.custom.dropdown ul li { cursor: pointer; padding: 3px 38px 3px 6px; margin: 0; white-space: nowrap}
form.custom div.custom.dropdown ul li:hover { background-color: #2a85e8; color: #fff; }
form.custom div.custom.dropdown ul.show { display: block; }

form.custom div.custom.dropdown.open ul { display: block; }


