.formee p.label_checkbox_pair input[type="checkbox"] {
    float: left;
    margin-left: 80px;
    margin : 0 0 0 0;
    padding: 0;
}
.formee p.label_checkbox_pair label {
    /*clear: left;*/
    display: block;
    float: left;
    margin-left: 10px;
    width: 200px;
    /*line-height: 20px;*/
}