
.tdbutton {
    border:3px inset #076797;background-color:#283772; color: #ffffff;
}
.BGColourWhite {
    background-color: #FFFFFF;

}

.BGColourLightBlue {
    background-color: #283772;
}

.BGColourBlue {
    background-color: #C0C0C0;
}

.BGColourBlueTD{
    background-color: #ffffff;
}

.BGBlueButtonBarr{
    background-color: #283772;

}

.BGColoursHeading {
    background-color: #283772;
    color: #FFFFFF;
    font-family: serif;
}


.BGColourDarkBlue {
    background-color: #283772;
}

.SearchForm {
    /*width:500px;*/
    /*margin:50px auto;*/
}

.SearchDiv {
    position: relative;
    display: inline-block;
    /*border: 1px solid #D9DADB;*/
    height: 22px;
    overflow: hidden;
    margin: auto;
}

.SearchSpan {
    border: 2px solid #283772;
    height: 22px;
    overflow: hidden;
}

.SearchText {
}

.SearchButton {
    position:relative;
    left:-8px;
    /*color:#000;*/
    /*background-color:#CCCCCC;*/
}

.SearchButton:hover {
    color:#000;
    background-color:#DDDDDD;
}

.formHeadingTextColour{
    color: #283772;
}

H2{
    color: #ffffff;
}

H3{
    color: #ffffff;
}

H4{
    color: #ffffff;
}

H5{
    color: #ffffff;
}



A:link
{
    color: #000080;
    font-family: Arial;
    text-decoration: underline;
}
A:visited
{
    color: #000080;
    font-family: Arial;
    text-decoration: underline;
}

body
{
    color: Black;
    background-color: white;
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    margin:15px 0px 0px 0px;
}